<meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" href="dist/style.css">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
