<div class="nav">
  <a class="nav__link" href="/">
    <div class="nav__item">
      Home
    </div>
  </a>
  <a class="nav__link" href="/about">
    <div class="nav__item">
      About
    </div>
  </a>
  <a class="nav__link" href="/maps">
    <div class="nav__item">
      Maps
    </div>
  </a>
  <a class="nav__link" href="/contracts">
    <div class="nav__item">
      Contracts
    </div>
  </a>
</div>