<html lang="en">

<head>
    <%- include('../components/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../components/header'); %>
    </header>

    <main>
        <h1>Contracts</h1>
       
        <button onclick='handleGetContracts()'>Get contracts</button>
        <div id='contractsRoot' class="maps"/>
    </main>

    <footer>
        <%- include('../components/footer'); %>
    </footer>
    <script src='js/contracts.js'></script>
</body>

</html>